<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
	<title>PvP Mu</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/mobile.css" rel="stylesheet">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11194670778">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11194670778');
</script>
<body class="page-body">
	<header class="header">
		<div class="header-wrapper">
			<div class="burger-menu btn-drop" data-class="header-wrapper-menu_h">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="header-wrapper-menu_h">
				<div class="header-wrapper-menu">
					<div class="header-wrapper_left">
						<ul class="header-menu">
							<li><a href="#"><i class="header-icon header-icon-home"></i>Home</a></li>
							<li><a href="#"><i class="header-icon header-icon-reg"></i>Registration</a></li>
							<li><a href="#"><i class="header-icon header-icon-download"></i>Download</a></li>
							<li><a href="#"><i class="header-icon header-icon-tp"></i>Top Players</a></li>
						</ul>
					</div>
					<div class="header-wrapper_right">
						<ul class="header-menu">
							<li><a href="#"><i class="header-icon header-icon-tg"></i>Top Guilds</a></li>
							<li><a href="#"><i class="header-icon header-icon-media"></i>Media</a></li>
							<li><a href="#"><i class="header-icon header-icon-as"></i>About server</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="header-wrapper_right-flex">
				<div class="langBlock">
					<div class="langBlock-active buttonDrop" data-class="langBlock-select">
						<i class="lang-icon lang-icon-eng"></i> Eng
					</div>
					<div class="langBlock-select">
						<ul>
							<li><a href="#"><i class="lang-icon lang-icon-de"></i> German</a></li>
							<li><a href="#"><i class="lang-icon lang-icon-eng"></i> English</a></li>
							<li><a href="#"><i class="lang-icon lang-icon-tk"></i> Turkey</a></li>
							<li><a href="#"><i class="lang-icon lang-icon-rom"></i> Romanian</a></li>
							<li><a href="#"><i class="lang-icon lang-icon-pl"></i> Polish</a></li>
							<li><a href="#"><i class="lang-icon lang-icon-hg"></i> Hungarian</a></li>
						</ul>
					</div>
				</div>
				<div class="lkBlock">
					<div class="lkBlock-login" style="display:none;">
						<a href="#" class="button">Login</a>
					</div>
					<div class="panel">
						<div class="panel-active buttonDrop flex-c" data-class="panel-dropdown">
							<img src="images/ava.png" alt="">
							Panel
						</div>
						<div class="panel-dropdown">
							<div class="panel-dropdown_title">
								Server Name
							</div>
							<div class="panel-dropdown_my">
								<div class="panel-dropdown_my-block">
									My Credits: <span>7,546</span>
								</div>
								<div class="panel-dropdown_my-block">
									My WCoins: <span>12,546</span>
								</div>
							</div>
							<ul class="panel-dropdown_list">
								<li><a href="#">Character Panel</a></li>
								<li><a href="#">Reset Character</a></li>
								<li><a href="#" class="color-green">Buy credit with PayPal</a></li>
								<li><a href="#" class="color-green">Buy credits with Phone</a></li>
								<li><a href="#" class="color-green">Buy credit with Card/Crypto</a></li>
								<li><a href="#">Credits to WCoins</a></li>
								<li><a href="#">Your Warehouse</a></li>
								<li><a href="#">Market</a></li>
								<li><a href="#">Vote for Server</a></li>
								<li><a href="#">Account Log</a></li>
								<li><a href="#">Change Password</a></li>
							</ul>
							<div class="panel-dropdown_button">
								<a href="#" class="button">Logout</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="radial-stat">
		<div class="circle-online">
			<div class="serverInfo">
				<span class="serverInfo__name">online</span>
				<span class="serverInfo__x">2543</span>
			</div>
			<div class="circlestat" data-dimension="125" data-width="4" data-fontsize="12" data-percent="70" data-fgcolor="#bee61f" data-bgcolor="#201f1f"></div>
		</div><!-- circle-online -->
	</div><!-- radial-stat -->
	<div class="container">
		<div class="logo">
			<a href="/" class="bright"><img src="images/logo.png" alt="Logo"></a>
		</div>
		<div class="topButtons">
			<div class="row">
				<div class="col">
					<a href="#" class="top-button top-reg">
						<span>Registration</span>	let’s do it!  righit now!
					</a>
				</div>
				<div class="col">
					<a href="#" class="top-button top-download">
						<span>Download</span>	complete version 1.9GB
					</a>
				</div>
			</div>
		</div>
	</div>
	<span class="clouds"></span>
	<main class="main">
		<div class="container">
			<div class="pageContent home-block">
				<span class="corner-top-left corner-top-left-purple"></span>
				<div class="home-block-title page-block-title">
					Download
				</div>
				<div class="breadcrumbs flex-c">
					<ul>
						<li><a href="#">Home</a></li>
						<li><span>Download</span></li>
					</ul>
				</div>
				<div class="dTop d-block flex">
					<div class="dTop-left">
						<div class="flex-c-c">
							<div class="dTop-cat">
								<div class="dTop-cat_title">
									File size: <strong>1.5 GB</strong>
								</div>
								<div class="dTop-cat_blocks flex">
									<a href="#" class="dTop-cat_block dTop-cat_block-blue">
										<div class="dTop-cat_block-img">
											<img src="images/media-fire.png" alt="">
										</div>
										<div class="dTop-cat_block-title">
											MediaFire
										</div>
									</a>
									<a href="#" class="dTop-cat_block dTop-cat_block-green">
										<div class="dTop-cat_block-img">
											<img src="images/google-disk.png" alt="">
										</div>
										<div class="dTop-cat_block-title">
											Google Drive
										</div>
									</a>
									<a href="#" class="dTop-cat_block dTop-cat_block-orange">
										<div class="dTop-cat_block-img">
											<img src="images/folder-download.png" alt="">
										</div>
										<div class="dTop-cat_block-title">
											Direct Download
										</div>
									</a>
									<a href="#" class="dTop-cat_block dTop-cat_block-turquoise">
										<div class="dTop-cat_block-img">
											<img src="images/steam-download.png" alt="">
										</div>
										<div class="dTop-cat_block-title">
											Steam
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="dTop-right">
						<div class="flex-c-c">
							<div class="dtop-update">
								<div class="dtop-update_title">
									Update Package
								</div>
								<div class="dtop-update_text">
									If you have had problems with the previous version of the launcher, please extract this patch in the game folder to correct.
								</div>
								<div class="dtop-update_button">
									<a href="#" class="button button-middle">Download</a>
								</div>
							</div>
						</div>
					</div>
				</div><!--dTop-->
				<div class="dSystem d-block">
					<div class="d-title">
						System Requerements
					</div>
					<div class="table-top-scroll">
						<table class="table table-download">
							<thead>
								<tr>
									<td>Components</td> <td>Minimum</td> <td>Recommended</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Processor</td> <td>2.8 Ghz</td> <td>3.5 Ghz</td>
								</tr>
								<tr>
									<td>Memory</td> <td>2 GB</td> <td>4 GB</td>
								</tr>
								<tr>
									<td>Operational System</td> <td>Windows 7 Sp1</td> <td>Windows 10</td>
								</tr>
								<tr>
									<td>Video Card</td> <td>256 MB</td> <td>512 MB</td>
								</tr>
								<tr>
									<td>Connection</td> <td>1 Mbps(ADSL)</td> <td>2 Mbps(ADSL/Fibra)</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div><!--dSystem-->
				<div class="d-block">
					<div class="d-title d-title-d">
						Drivers
					</div>
					<div class="drivers flex-c-c">
						<div class="driverBlock">
							<img src="images/nvidia.jpg" alt="">
						</div>
						<div class="driverBlock">
							<img src="images/directx.jpg" alt="">
						</div>
						<div class="driverBlock">
							<img src="images/amd.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="d-block">
					<div class="d-title">
						FAQ
					</div>
					<div class="faq-block">
						<div class="faq-block_title">
							I get this error what do i do? 
						</div>
						<div class="faq-block_text">
							You can also sort all products you selected by date, price, rating and it views. <br>
							Each template has its own set of items. Initially, the Basic Package contain clean HTML template and one internal inside page with some input and button styles, sometimes the PSD source can be as the Basic Package.
						</div>
					</div>
					<div class="faq-block">
						<div class="faq-block_title">
							I get this error what do i do? 
						</div>
						<div class="faq-block_text">
							You can also sort all products you selected by date, price, rating and it views. <br>
							Each template has its own set of items. Initially, the Basic Package contain clean HTML template and one internal inside page with some input and button styles, sometimes the PSD source can be as the Basic Package.
						</div>
					</div>
				</div><!--d-block-->
			</div>
			<div class="to-top">
				<span class="toTop"></span>
			</div>
			<div class="footerMenu flex">
				<div class="footerMenu-block">
					<ul class="f-menu">
						<li><a href="#">Home</a></li>
						<li><a href="#">Registration</a></li>
						<li><a href="#">Download</a></li>
						<li><a href="#">Login</a></li>
					</ul>
				</div>
				<div class="footerMenu-block">
					<ul class="f-menu">
						<li><a href="#">Top Pages</a></li>
						<li><a href="#">Top PLayers</a></li>
						<li><a href="#">Top Guilds</a></li>
					</ul>
				</div>
				<div class="footerMenu-block">
					<ul class="f-menu">
						<li><a href="#">News</a></li>
						<li><a href="#">last news</a></li>
						<li><a href="#">Old News</a></li>
					</ul>
				</div>
				<div class="footerMenu-block">
					<ul class="f-menu">
						<li><a href="#">Media</a></li>
						<li><a href="#">Video</a></li>
					</ul>
				</div>
				<div class="footerMenu-block">
					<ul class="f-menu">
						<li><a href="#">About Server</a></li>
						<li><a href="#">Server</a></li>
						<li><a href="#">Our Contacts</a></li>
					</ul>
				</div>
				<div class="footerMenu-block">
					<ul class="f-menu">
						<li><a href="#">Other</a></li>
						<li><a href="#">Other</a></li>
					</ul>
				</div>
			</div>
		</div>
	</main>
	<footer class="footer">
		<div class="container">
			<div class="footerBottom flex-c">
				<div class="footerBottom-block footerBottom-block-20">
					<div class="f-info">
						<p>Copyright 2023 © undeadmu.net</p>
						<span>This site is in no way associated with <br> 
							or endorsed by Webzen Inc.</span>
					</div>
				</div>
				<div class="footerBottom-block footerBottom-block-60">
					<div class="f-logo">
						<a href="/"><img src="images/logo-footer.png"alt=""></a>
					</div>
				</div>
				<div class="footerBottom-block footerBottom-block-20">
					<div class="templ flex-c-c">
						<i class="templ-icon"></i>
						<span>Designed by <a href="https://dkarts.studio/" target="_blank">DKarts.Studio</a> <br>
							for <a href="https://templstock.com/en/" target="_blank">Templstock.com</a></span>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/circle-js.js"></script>
<script src="js/global.js"></script>
</html>